---
title: Liam Pulles
description: Home
---
<article>
    <section>
        <h1>Welcome!</h1>
        <p>Hi there - if you're interested in my writing, read on. If you want to hire me (or otherwise find out more about me), then you may wish to see my Biography or Code as linked to above.</p>
    </section>
    <section>
        <h2>Blog posts</h2>
        <ul>
        {% for post in site.posts %}
            <li>{{ post.date | date_to_string }} || <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Digital restorations</h2>
        <ul>
        {% for post in site.digital_restorations %}
            <li>
                <p> {{ post.date | date_to_string }} || <a href="{{ post.url }}">{{ post.title }}</a></p>
                <a href="{{ post.image }}" title="Click to see the full-sized image"><img src="{{ post.small_thumb }}" alt="The restored image (click for raw)"></a>
            </li>
        {% endfor %}
        </ul>
    </section>
</article>