---
title: Liam Pulles
description: Home
---
<article>
    <section>
        <h1>Welcome!</h1>
        <p>Hi there - if you're interested in my writing, read on. If you want to hire me (or otherwise find out more about me), then you may wish to see my <a href="/biography.html">biography</a> or my <a href="{{ site.projects }}">code</a></p>
    </section>
    <section class="toc">
        <h2>Blog posts</h2>
        <ul>
        {% for post in site.posts %}
            <li>
                <span>[{{ post.date | date_to_string }}]</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    <section class="toc">
        <h2>Digital restorations</h2>
        <ul>
        {% for post in site.digital_restorations %}
            <li>
                <span>[{{ post.date | date_to_string }}]</span>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
</article>