{{define "root"}}
    <!doctype html>
    <html lang=en color-mode=light>
    <meta charset=utf-8>

    <!-- Page metadata -->
    <title>{{.Title}}</title>
    <meta name=description content="{{.SEODescription}}">
    <meta name=author content="Liam Pulles">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <!-- Dark mode toggle script -->
    <script>
    if (localStorage.getItem("color-mode") === "dark" || (window.matchMedia("(prefers-color-scheme: dark)").matches && !localStorage.getItem("color-mode"))) { 
        document.documentElement.setAttribute("color-mode", "dark"); 
    }</script>

    <!-- Fonts -->
    <link rel=preconnect href=https://cdnjs.cloudflare.com>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin=anonymous referrerpolicy=no-referrer>
    <link rel=preload href=https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 as=font
        type=font/woff2 crossorigin>
    <link rel=preload
        href=https://fonts.gstatic.com/s/fraunces/v31/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib1603gg7S2nfgRYIctxuTCf7T.woff2
        as=font type=font/woff2 crossorigin>

    <!-- Stylesheets -->
    <link href=/style.css rel=stylesheet>
    <link href=/light.css rel=stylesheet>
    <link href=/dark.css rel=stylesheet>
    <link href=/images/favicon.ico rel="shortcut icon" type=image/x-icon>

    <!-- Header/Nav -->
    <header class=site-header>
        <p><a href= />Liam Pulles</a>
        <nav>
            <ul>
                {{range .NavElem}}
                <li><a href=/{{.Short}}.html>{{.Text}}</a>
                {{end}}
            </ul>
        </nav>
        <div class=color-mode__header><i class="color-mode__btn light--hidden fa-solid fa-sun fa-xl"></i><i
                class="color-mode__btn dark--hidden fa-solid fa-moon fa-xl"></i></div>
    </header>

    <!-- Main content -->
    <main>
        {{template "article" .Article}}
    </main>

    <!-- Footer -->
    {{template "footer" .Footer}}
    <script src=/script.js></script>
{{end}}

{{define "section"}}
<section>
    {{if .Header}}<h2>{{.Header}}</h2>{{end}}
    {{if .SubHeader}}<h3>{{.SubHeader}}</h3>{{end}}
    {{if .Aside.Figures}}
    <aside>
        {{range .Aside.Figures}}
        <figure {{if .Optional}}class="optional"{{end}}>
            {{range .Images}}
            {{template "image" .}}
            {{end}}
            {{if .Caption}}<figcaption><i>{{.Caption}}</i></figcaption>{{end}}
        </figure>
        {{end}}
    </aside>
    {{end}}
    {{.Content}}
</section>
{{end}}

{{define "image"}}
<img src="{{.Src}}" width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}">
{{end}}

{{define "article"}}
<article>
    <header>
        <h1>{{.Header}}</h1>
        {{.HeaderContent}}
    </header>
    {{.RawContent}}
    {{range .Sections}}
        {{template "section" .}}
    {{end}}
</article>
{{end}}

{{define "footer"}}
<footer>
    {{if .Comments}}
    <p><b>Comments? Send me an <a href="mailto:me@liampulles.com">email</a>. Or, share this piece:</b></p>
    <p>
        <a href="https://twitter.com/intent/tweet?url={{.Comments.FullURL}}"
            aria-label="Share on Twitter" target=_blank><i class="fa-brands fa-square-twitter fa-xl"></i></a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{.Comments.FullURL}}"
            aria-label="Share on LinkedIn" target=_blank><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <a href="https://news.ycombinator.com/submitlink?u={{.Comments.FullURL}}"
            aria-label="Share on Hacker News" target=_blank><i class="fa-brands fa-square-hacker-news fa-xl"></i></a>
        <a href="http://reddit.com/submit?url={{.Comments.FullURL}}"
            aria-label="Share on Reddit" target=_blank><i class="fa-brands fa-square-reddit fa-xl"></i></a>
        <a href="https://www.facebook.com/sharer.php?u={{.Comments.FullURL}}"
            aria-label="Share on Facebook" target=_blank><i class="fa-brands fa-square-facebook fa-xl"></i></a>
        <a href="mailto:me@liampulles.com"><i class="fa-solid fa-square-envelope fa-xl"></i></a>
    </p>
    {{end}}
    {{if .ConnectWithMe}}
    <p>
        <b>Connect with me:</b>
        <a href=https://github.com/liampulles>Github</a>,
        <a href=https://www.linkedin.com/in/liampulles/>LinkedIn</a>,
        <a href=https://letterboxd.com/sl1m/>Letterboxd</a>,
        <a href="mailto:me@liampulles.com">Email</a>
    <p>
    {{end}}
    <p>© {{.Year}} Liam Pulles.</p>
</footer>
{{end}}

{{define "index-toc"}}
<section>
    <p>Hi there - if you're interested in my writing, read on. If you want to hire me (or otherwise find out more about me), then you may wish to see my <a href="/biography.html">biography</a> or my <a href="/code.html">code</a>.</p>
</section>
<section class="toc">
    <h3>Blog posts</h3>
    <table>
        {{range .BlogPosts}}
        <tr>
            <th class="toc-date">{{.Date.Format "Jan 02, 2006"}}</th>
            <th><a href="/{{.Page.Short}}.html">{{.Page.Data.Title}}</a></th>
        </tr>
        {{end}}
    </table>
    <h3>Digital restorations</h3>
    <table>
        {{range .DigitalRestorations}}
        <tr>
            <th class="toc-date">{{.Date.Format "Jan 02, 2006"}}</th>
            <th><a href="/{{.Page.Short}}.html">{{.Page.Data.Title}}</a></th>
        </tr>
        {{end}}
    </table>
</section>
{{end}}

{{define "redirect"}}
<!doctype html>
<link rel=canonical href={{.Dest}}>
<meta charset=utf-8>
<meta http-equiv=refresh content="0;url={{.Dest}}">
<p>Redirecting...</p>
<a href={{.Dest}}>Click here if you are not redirected.</a>
{{end}}

{{define "restoration-page"}}
<section class="centerpiece">
    {{template "image" .Image}}
    {{.Description}}
</section>
{{end}}