{{define "main"}}
<article>
    <section class=toc>
        <h1>{{.MainHeader}}</h1>
        <p>{{.MainDescription}}</p>
    </section>
    <section class=toc>
        <h3>Blog posts</h3>
        <table>
        {{range .BlogPosts}}
            <tr>
            <th class=toc-date>{{.Date.Format "Jan 02, 2006"}}
            <th><a href=/{{.Short}}.html>{{.Title}}</a>
        {{end}}
        </table>
    </section>
    <section class=toc>
        <h3>Digital restorations</h3>
        <table>
        {{range .DigitalRestorations}}
            <tr>
            <th class=toc-date>{{.Date.Format "Jan 02, 2006"}}
            <th><a href=/{{.Short}}>{{.Title}}</a>
        {{end}}
        </table>
    </section>
</article>
{{end}}