
{{define "element"}}
    {{if eq .Type "Paragraph"}}
        <p>{{.Text}}</p>
    {{else if eq .Type "UnorderedList"}}
        <ul>
        {{range .Items}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{else if eq .Type "OrderedList"}}
        <ol>
        {{range .Items}}
            <li>{{.}}</li>
        {{end}}
        </ol>
    {{end}}
{{end}}

{{define "section"}}
<section>
    <h3>{{.Header}}</h3>
    {{if .Aside}}
    <aside>
        {{range .Aside.Figures}}
        <figure>
            {{range .Images}}
            <img src="{{.Src}}" width="{{.Width}}" height="{{.Height}}" alt="{{.Alt}}">
            {{end}}
            <figcaption><i>{{.Caption}}</i></figcaption>
        </figure>
        {{end}}
    </aside>
    {{end}}
    {{range .Elements}}
        {{template "element" .}}
    {{end}}
</section>
{{end}}

{{define "article"}}
<article>
    <header>
        <h1>{{.Header}}</h1>
        {{range .Elements}}
            {{template "element" .}}
        {{end}}
    </header>
    {{range .Sections}}
        {{template "section" .}}
    {{end}}
</article>
{{end}}

{{define "root"}}
    <!doctype html>
    <html lang=en color-mode=light>
    <meta charset=utf-8>

    <!-- Page metadata -->
    <title>{{.Title}}</title>
    <meta name=description content="{{.SEODescription}}">
    <meta name=author content="Liam Pulles">
    <meta name=viewport content="width=device-width,initial-scale=1">

    <!-- Dark mode toggle script -->
    <script>if (localStorage.getItem("color-mode") === "dark" || (window.matchMedia("(prefers-color-scheme: dark)").matches && !localStorage.getItem("color-mode"))) { document.documentElement.setAttribute("color-mode", "dark"); }</script>

    <!-- Fonts -->
    <link rel=preconnect href=https://cdnjs.cloudflare.com>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin=anonymous referrerpolicy=no-referrer>
    <link rel=preload href=https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2 as=font
        type=font/woff2 crossorigin>
    <link rel=preload
        href=https://fonts.gstatic.com/s/fraunces/v31/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib1603gg7S2nfgRYIctxuTCf7T.woff2
        as=font type=font/woff2 crossorigin>

    <!-- Stylesheets -->
    <link href=/style.css rel=stylesheet>
    <link href=/tango.css rel=stylesheet>
    <link href=/monokai.css rel=stylesheet>
    <link href=/images/favicon.ico rel="shortcut icon" type=image/x-icon>

    <!-- Header/Nav -->
    <header class=site-header>
        <p><a href= />Liam Pulles</a>
        <nav>
            <ul>
                {{range .NavElem}}
                <li><a href=/{{.Short}}>{{.Text}}</a>
                {{end}}
            </ul>
        </nav>
        <div class=color-mode__header><i class="color-mode__btn light--hidden fa-solid fa-sun fa-xl"></i><i
                class="color-mode__btn dark--hidden fa-solid fa-moon fa-xl"></i></div>
    </header>

    <!-- Main content -->
    <main>
        {{template "article" .Article}}
    </main>

    <!-- Footer -->
    <footer>
        <p>© {{.Year}} Liam Pulles.</p>
    </footer>
    <script src=/script.js></script>
{{end}}