<!doctype html>

<html lang="en" color-mode="light">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="{{ site.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Set default theme here, so we don't get a color flash -->
        <script>
            if (
              localStorage.getItem("color-mode") === "dark" ||
              (window.matchMedia("(prefers-color-scheme: dark)").matches &&
                !localStorage.getItem("color-mode"))
            ) {
              document.documentElement.setAttribute("color-mode", "dark");
            }
        </script>

        <!-- Main style -->
        <link href="/style.css" rel="stylesheet" >

        <!-- Normalize -->
        <link rel="preconnect" href="https://cdnjs.cloudflare.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Fonts -->
        <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v22/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="https://fonts.gstatic.com/s/fraunces/v31/6NUh8FyLNQOQZAnv9bYEvDiIdE9Ea92uemAk_WBq8U_9v0c2Wa0K7iN7hzFUPJH58nib1603gg7S2nfgRYIctxuTCf7T.woff2" as="font" type="font/woff2" crossorigin>

        <!-- ...Code styles -->
        <link href="/tango.css" rel="stylesheet" >
        <link href="/monokai.css" rel="stylesheet" >

        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>

    <body>
        <header class="site-header">
            <p><a href="/">{{site.title}}</a></p>
            <nav>
                <ul>
                    {% for item in site.data.navigation %}<li><a href="{{ item.link }}">{{ item.name }}</a></li>{% endfor %}
                </ul>
            </nav>
            <!--- Theme button --->
            <div class="color-mode__header">
                <i class="color-mode__btn light--hidden fa-solid fa-sun fa-xl"></i>
                <i class="color-mode__btn dark--hidden fa-solid fa-moon fa-xl"></i>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            {% if page.connect %}
            <p>
                <b>Connect with me:</b>
                <a href="https://github.com/liampulles">Github</a>,
                <a href="https://www.linkedin.com/in/liampulles/">LinkedIn</a>,
                <a href="https://letterboxd.com/sl1m/">Letterboxd</a>,
                <a href="mailto:me@liampulles.com">Email</a>
            </p>
            {% endif %}
            {% if page.shareable %}
            <p>
                <b>Comments? Send me an <a href="mailto:{{site.email}}?subject=With regards to your %22{{page.title}}%22 page">email</a>. Or, share this piece:</b></p>
            <p>
                <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url | url_encode}}" aria-label="Share on Twitter" target="_blank">
                    <i class="fa-brands fa-square-twitter fa-xl"></i>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url | url_encode}}" aria-label="Share on LinkedIn" target="_blank">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </a>
                <a href="https://news.ycombinator.com/submitlink?u={{ page.url | absolute_url | url_encode}}" aria-label="Share on Hacker News" target="_blank">
                    <i class="fa-brands fa-square-hacker-news fa-xl"></i>
                </a>
                <a href="http://reddit.com/submit?url={{ page.url | absolute_url | url_encode}}" aria-label="Share on Reddit" target="_blank">
                    <i class="fa-brands fa-square-reddit fa-xl"></i>
                </a>
                <a href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url | url_encode}}" aria-label="Share on Facebook" target="_blank">
                    <i class="fa-brands fa-square-facebook fa-xl"></i>
                </a>
                <a href="mailto:someone@somewhere.com?subject=Check out this article&body={{site.url}}{{page.url}}" aria-label="Share via Email">
                    <i class="fa-solid fa-square-envelope fa-xl"></i>
                </a>
            </p>
            {% endif %}
            <p>© {{ 'now' | date: "%Y" }} {{site.author}}.</p>
        </footer>
        <script src="/script.js"></script>
    </body>
</html>