<!doctype html>

<html lang="en" color-mode="light">
    <head>
        <meta charset="utf-8">

        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="{{ site.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Set default theme here, so we don't get a color flash -->
        <script>
            if (
              localStorage.getItem("color-mode") === "dark" ||
              (window.matchMedia("(prefers-color-scheme: dark)").matches &&
                !localStorage.getItem("color-mode"))
            ) {
              document.documentElement.setAttribute("color-mode", "dark");
            }
        </script>

        <!-- Normalize -->
        <link rel="preconnect" href="https://cdnjs.cloudflare.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" rel="stylesheet">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/css2?family=Fraunces&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- ...Code styles -->
        <link href="/style.css" rel="stylesheet" >
        <link href="/tango.css" rel="stylesheet" >
        <link href="/monokai.css" rel="stylesheet" >

        <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>

    <body>
        <!-- Theme SVG definition -->
        <svg style="display: none;">
            <symbol viewBox="0 0 24 24" id="moon">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </symbol>
            <symbol viewBox="0 0 24 24" id="sun">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </symbol>
        </svg>
        <header class="site-header">
            <p><a href="/">{{site.title}}</a></p>
            <nav>
                <ul>
                    {% for item in site.data.navigation %}<li><a href="{{ item.link }}">{{ item.name }}</a></li>{% endfor %}
                </ul>
            </nav>
            <!--- Theme button --->
            <div class="color-mode__header">
                <svg aria-hidden="true" class="color-mode__btn light--hidden" width="0" height="0">
                    <title>Light Mode</title>
                    <use href="#sun"></use>
                </svg>
                <svg aria-hidden="true" class="color-mode__btn dark--hidden" width="0" height="0">
                    <title>Dark Mode</title>
                    <use href="#moon"></use>
                </svg>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            {% if page.connect %}
            <p>
                <b>Connect with me:</b>
                <a href="https://github.com/liampulles">Github</a>,
                <a href="https://www.linkedin.com/in/liampulles/">LinkedIn</a>,
                <a href="https://letterboxd.com/sl1m/">Letterboxd</a>,
                <a href="mailto:me@liampulles.com">Email</a>
            </p>
            {% endif %}
            {% if page.shareable %}
            <p>
                <b>Comments? Send me an <a href="mailto:{{site.email}}?subject=With regards to your %22{{page.title}}%22 page">email</a>. Or, share this piece:</b></p>
            <p>
                <a href="https://twitter.com/intent/tweet?url={{site.url | url_encode}}{{page.url | url_encode}}" aria-label="Share on Twitter" target="_blank">
                    <i class="fa-brands fa-square-twitter fa-xl"></i>
                </a>
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{site.url | url_encode}}{{page.url | url_encode}}" aria-label="Share on LinkedIn" target="_blank">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                </a>
                <a href="https://news.ycombinator.com/submitlink?u={{site.url | url_encode}}{{page.url | url_encode}}" aria-label="Share on Hacker News" target="_blank">
                    <i class="fa-brands fa-square-hacker-news fa-xl"></i>
                </a>
                <a href="http://reddit.com/submit?url={{site.url | url_encode}}{{page.url | url_encode}}" aria-label="Share on Reddit" target="_blank">
                    <i class="fa-brands fa-square-reddit fa-xl"></i>
                </a>
                <a href="http://www.facebook.com/sharer.php?u={{site.url | url_encode}}{{page.url | url_encode}}" aria-label="Share on Facebook" target="_blank">
                    <i class="fa-brands fa-square-facebook fa-xl"></i>
                </a>
                <a href="mailto:someone@somewhere.com?subject=Check out this article&body={{site.url}}{{page.url}}" aria-label="Share via Email">
                    <i class="fa-solid fa-square-envelope fa-xl"></i>
                </a>
            </p>
            {% endif %}
            <p>© {{ 'now' | date: "%Y" }} {{site.author}}.</p>
        </footer>
        <script src="/script.js"></script>
    </body>
</html>